
td{
    color: #ffffff;
}

.editDetailsInput {
    font-size: 20px;
}

.submitDetailsBtn {
    background: #34a935;
    padding: 15px 30px;
    color: white;
    border-radius: 200px;
    font-size:35px;
}

.submitDetailsBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cancelDetailsBtn {
    margin: 20px;
    background: #f65e5e;
    padding: 15px 30px;
    color: white;
    border-radius: 200px;
    font-size:35px;
}

.cancelDetailsBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.editDetailsBtn:hover {
    background: #a9a9a9;
    cursor: pointer;
    opacity: 0.8;
    padding: 20px 35px;
    font-size:30px;
}

.editDetailsBtn {
    margin: 10px;
    background: #6e6d6d;
    padding: 15px 30px;
    color: white;
    border-radius: 200px;
    font-size:25px;
}

.editDetailsBtn:hover {
    background: #a9a9a9;
    cursor: pointer;
    opacity: 0.8;
    padding: 20px 35px;
    font-size:30px;
}

.editInfoBtn {
    margin: 10px;
    background: #6e6d6d;
    padding: 15px 30px;
    color: white;
    border-radius: 200px;
    font-size:35px;
}

.editInfoBtn:hover {
    background: #a9a9a9;
    cursor: pointer;
    opacity: 0.8;
    padding: 20px 35px;
    font-size:40px;
}

.submitInfoBtn {
    margin-right: 120px;
    background: #34a935;
    padding: 15px 30px;
    color: white;
    border-radius: 200px;
    font-size:35px;
}

.submitInfoBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.cancelInfoBtn {
    margin: 20px;
    background: #f65e5e;
    padding: 15px 30px;
    color: white;
    border-radius: 200px;
    font-size:35px;
}

.cancelInfoBtn:hover {
    cursor: pointer;
    opacity: 0.7;
}

h1 {
    font-size: 50px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

h2 {
    font-size: 30px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

.uploadFiles {
    display: flex;
    justify-content: center;
    text-align: center;
}

#updateTxt {
    color: black;

}
