
#page{
    background-color: white;
    background-size: 100%;
    width:100%;
    height: 900%;
    padding-bottom: 60px;
    color: black;
}
#artist_container{
    display: inline-block;
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    color: #0a0a0a;
    font-weight: normal ;
    text-align:center;

}

#a_name{
    padding-top: 11px;
    font-size: 70px;
}


.contains{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 50px;
    flexDirection: row;
    flexWrap: wrap;
    margin-right: 12%;
}



.artist{
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    opacity: 0.4;
    color: #0a0a0a;
    font-weight: normal ;
    width: 60%;
    text-align:center;

}

.artist:hover {
    cursor: pointer;
    opacity: 1;


}

#photo{
    margin-right: 10px;
    width:100px;
    height:100px;
    border-radius:100px;
}

#prof{
    padding-top: 60px;
    font-size: 23px;
    color: #6c6c6c;
    opacity: 0.6;
}


#search{
    height: 40px;
    width: 50%;
    background-color: #e9e7e7;
    margin-top: 20px;
    border: none;
    font-size: 30px;
    margin-right: 25%;
    margin-left: 25%;
    outline: none;
    /*text-align: center;*/

}

@media only screen and (max-width: 1250px) {

    #page{
        margin-top: -100px;
    }

    #a_name{
        font-size: 30px;
    }

    .artist{
        width: 80%;

    }

    #photo{
        margin-right: 10px;
        width:40px;
        height:40px;
        border-radius:100px;
    }
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 15%;
    top: 0;
    height: 70%;
    width: 70%;
    position: absolute;
    text-align: center;
}

.artistDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}