
#courseButton {
    background-color: #aba4c8;
    text-align: center;

}

.c_btn{
    padding: 4px;
    font-size: 30px;
    color: #000000;
    border: 3px solid #d0d0d0;
    border-radius: 90px;
    border-left-style: none;
    border-right-style: none;
    background-color: white;
}

.c_btn :hover{
    padding: 3px;
    font-size: 40px;
    color: white;
    border: none;
    border-radius: 90px;
    outline: none;
    background: #7e7d7d;
}

h1{
    color: #bab9b9;
    text-align: center;
}


#course{
   text-align:center;
    color: white;
    border: 1px inset white;
    padding: 6px;
    margin:20px;
}

.courses{
    margin: 3% 5% 30% 5%;
}

#course_name{
    font-size: 40px;
    background: #aba4c8;
    color: #ffffff;

}

#course_dit{
    font-size: 30px;
    display: inline;
    margin: 1%;
    font-weight: normal;
}

#c_title{
    margin: 0.5%;
    display: inline;



}