.headline {
    color: black;
}

#email {
    font-size: 30px;
}

.reset_pass {
    margin: 10px;
    background: #87FC89;
    padding: 15px 50px;
    color: black;
    border-radius: 200px;
    font-size:35px;
}

.reset_pass:hover{
    background: #62C864;
    cursor: pointer;
}

.cancel {
    margin: 10px;
    background: #FC8787;
    padding: 15px 40px;
    color: black;
    border-radius: 200px;
    font-size:35px;

}

.cancel:hover{
    background: #C86767;
    cursor: pointer;
}
