.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding-bottom: 100px;
}
.headline{
    font-size: 40px;
}
.line{
    font-size: 30px;
}
.box{
    width: 30%;
    font-size: 30px;
    height: 40px;
    border-radius: 4px;
    position: relative;
    background-color: rgba(255,255,255,0.3);
    transition: 0.3s all;
}
.box:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.button {
    border-radius: 4px;
    background-color: darkslategrey;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 34px;
    padding: 20px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media only screen and (max-width: 800px) {

.box{
    width: 70%;
}
}